.edit-account
  .content-edit-reg
    .edit-reg-form
      %br/
      %br/
      .form-group
        %h2
          Change account
          /Edit #{resource_name.to_s.humanize}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          .field
            = f.text_field :username, autocomplete: "off", class: 'form-control', placeholder: :username, hide_label: true
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: :email, hide_label: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          %br/
          .field
            = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password, hide_label: true
          .field
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password_confirmation, hide_label: true
          - if @minimum_password_length
            %p
              = @minimum_password_length
              characters minimum (leave blank if you don't want to change it)
          .field
            = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: :current_password, hide_label: true
            %p (We need your current password to confirm your changes)
          .actions
            = f.submit "Update", class: 'btn btn-outline-success'
            #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger', method: :delete}