.registration
  .content
    .form-group
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: :email, hide_label: true
        .field
          = f.text_field :username, autocomplete: "off", class: 'form-control', placeholder: :username, hide_label: true
        .field
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password, hide_label: true
        .field
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password_confirmation, hide_label: true
        .actions
          = flash[:recaptcha_error]
          = recaptcha_tags
          = f.submit "Sign up", class: 'btn btn-outline-success'
  = render "devise/shared/links"