Welcome to example.com, <%= @user.username %>
===============================================
You have successfully subscribe to category: <%= @category.title %>.
Thanks for your subscribe and have a great day!