= form_for [@comment, Comment.new], remote: true do |f|
  .field
    = f.text_area :body, id: 'image-comment-field', placeholder: t('images.show.comments.form_hint'), hide_label: true, class: 'form-control'
    = f.hidden_field :category_id, value: @image.category.id
    = f.hidden_field :image_id, value: @image.id
  .actions
    = f.submit t('images.show.comments.send'), class: 'btn btn-primary'