<% unless @comment.errors.any? %>
  $('.image-history-comments').prepend("<%= escape_javascript render 'comments/comment_card', comment: @comment %>");
<!--  $('#image-comments-counter')[0].firstChild.nodeValue++;-->
  $('#image-comment-field').val('');
<% end %>