.comments-index
  .top-block.text-center
    .title
      %h2
        =t('comments.title')
  .container-fluid
    .row
      - @comments.each do |comment|
        .col-sm-4.col-lg-2
          .card
            -#=link_to comment.image.title, comment.image
            -#%a.card-img-top{href: comment.image, style: "background: url(#{asset_url('picture.png')}) center center no-repeat; background-size: cover;"}
            %img.card-img-top{alt: comment.image.title, src: comment.image.file_path.url(:thumb)}
            .card-body
              %p.card-text.text-center
                = link_to comment.image.title, comment.image
              %br
              %h4.card-title.text-center
                - if comment.body.length < 40
                  = comment.body
                - else
                  = "#{comment.body[0..40]}..."

            %ul.list-group.list-group-flush
              %li.list-group-item.text-center
                = comment.user.username
              %li.list-group-item.text-center
                = comment.created_at.strftime("%d/%m/%Y")
      %br

  = paginate @comments