.container
  .row.align-items-center
    .col
      .login
        .form-block-login
          %h2
            =t('users.sessions.title')
          = form_for(@user, url: user_session_path(@user), class: 'form-group') do |f|
            = f.text_field :login, autofocus: true, autocomplete: 'login', class: 'form-control', placeholder: t('users.sessions.login_placeholder'), hide_label: true
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('users.sessions.password_placeholder'), hide_label: true
            %br
            - if devise_mapping.rememberable?
              .custom-control.custom-switch
                = f.check_box :remember_me, class: 'custom-control-input', type: 'checkbox', id: 'rememberSwitch'
                %span.custom-control-track
                = f.label t('users.sessions.remember_label'), for: 'rememberSwitch', class: 'custom-control-label'
              %br
            - if @captcha
              = recaptcha_tags
              %br
            = f.submit 'Log in', class: 'btn btn-success'
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to t('users.sessions.restore'), new_password_path(resource_name), class: 'btn btn-warning'
        %br
        =render 'users/shared/social'