.social
  %h6 Social
  .btn-group
    =link_to 'Google', '/auth/google_oauth2', class: 'btn btn-outline-dark fa fa-google'
    =link_to 'Twitter', '/auth/twitter', class: 'btn btn-outline-dark fa fa-twitter'
    =link_to 'Github', '/auth/github', class: 'btn btn-outline-dark fa fa-github'