= form_for [Like.new], remote: true do |f|
  .field
    = f.hidden_field :image_id, value: @image.id
    = f.hidden_field :category_id, value: @image.category_id
  .actions
    = f.button @image.likes.size, class: 'btn btn-outline-dark fa fa-heart'