<% unless @like.errors.any? %>
  var likeBlock = document.getElementById("image-likes");
  while (likeBlock.firstChild) {
      likeBlock.removeChild(likeBlock.firstChild);
  }
  $('.like-form').prepend("<%= escape_javascript render 'likes/unlike_form' %>");
<% end %>