<% unless @image.nil? %>
  var likeBlock = document.getElementById("image-likes");
  while (likeBlock.firstChild) {
      likeBlock.removeChild(likeBlock.firstChild);
  }
  $('.like-form').prepend("<%= escape_javascript render partial: 'likes/like_form' %>");
<% end %>