.welcome
  .container-welcome
    .carousel.slide#carouselSlides
      %ol.carousel-indicators
        %li.active{'data-slide-to': '0', "data-target": '#carouselSlides'}
        %li{'data-slide-to': '1', "data-target": '#carouselSlides'}
        %li{'data-slide-to': '2', "data-target": '#carouselSlides'}
      .carousel-inner.skyblue
        .content
          .carousel-item.active.skyblue
            %img{alt: 'First slide', src: asset_path('arch.jpg')}
            .carousel-caption.d-md-block
              = link_to t('welcome.slide_one_button'), new_user_registration_path, class: 'btn btn-success'
          .carousel-item.skyblue
            %img{alt: 'Second slide', src: asset_path('astr.jpg')}
            .carousel-caption.d-md-block
              %h3.icon-container{'data-animation': 'animated bounceInDown'}
                %span.fa.fa-heart
              %h3{'data-animation': 'animated bounceInUp'}
                =t('welcome.slide_two_teaser_first_html')
              = link_to t('welcome.slide_two_button'), new_user_session_path, class: 'btn btn-danger'
          .carousel-item.skyblue
            %img{alt: 'Third slide', src: asset_path('cur.jpg')}
            .carousel-caption.d-md-block
              %h3.icon-container{'data-animation': 'animated zoomInLeft'}
                %span.fa.fa-commenting
              %h3{'data-animation': 'animated flipInX'}
                =t('welcome.slide_three_teaser_first_html')
              = link_to t('welcome.slide_three_button'), new_user_session_path, class: 'btn btn-primary'
          %a.carousel-control-prev{'data-slide': 'prev', href: '#carouselSlides', role: 'button'}
            %span.carousel-control-prev-icon{'aria-hidden': 'true'}
            %span.sr-only =t('welcome.slide_previous')
          %a.carousel-control-next{'data-slide': 'next', href: '#carouselSlides', role: 'button'}
            %span.carousel-control-next-icon{'aria-hidden': 'true'}
            %span.sr-only =t('welcome.slide_next')