-#.login
-#  .content
-#    .form-block-login
-#      %h2 Log in
-#      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#        .form-group
-#          .field
-#            = flash[:recaptcha_error]
-#          .field
-#            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: :email, hide_label: true
-#          .field
-#            = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password, hide_label: true
-#          -#- if devise_mapping.rememberable?
-#          -#  .field
-#              -#= f.check_box :remember_me, class: 'form-check-input'
-#          .actions
-#            - if @captcha
-#              = recaptcha_tags
-#            = f.submit "Log in", class: 'btn btn-outline-success'
-#            -##{invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', size: 'invisible', id: 'invisible-recaptcha-form'}
-#
-#      = render "devise/shared/links"