.account-restore
  %h2
    =t('users.restore.title')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('users.restore.email_placeholder')
    %br
    .actions
      = f.submit t('users.restore.restore_submit'), class: 'btn btn-warning'