/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 * Some hot fix because active admin override mine styles
 *= stub "active_admin"
 *= require font-awesome
 */
@import "fonts";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "material";



$bg-color-main: #F5F5F5 ;
$bg-color-secondary: #F9F9F9;
$bg-color-additional: #959595;

$text-color-main: #151515;
$text-color-secondary: #252525;
$text-color-additional: #454545;


/*
Custom style for h text
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'fonts/roboto';
  color: $text-color-main;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  //letter-spacing: 0.2rem;
}

/*
custom color for selected text
*/

::-moz-selection{
  color: rgba(255, 193, 7, 0.9);
}

::selection{
  color: rgba(255, 193, 7, 0.9);
}

/*
custom color for text
*/

p {
  color: $text-color-secondary;
  font-family: 'fonts/roboto';
  font-weight: 100;
}

.i {
  color: $text-color-secondary;
}

.em {
  color: $text-color-secondary;
}

a {
  text-decoration: none !important;
  color: $text-color-secondary;
  font-family: 'fonts/roboto';
  font-weight: 200;
}

a:hover {
  color: $text-color-main;
}


/* sizes */
$width: 300px;
$device-width: 100%;
$form-half-device-width: 50%;


@media screen and (min-device-width: 360px) and (max-device-width: 577px) {
  $width: 360px;
  $device-width: 100%;
  $form-half-device-width: 100%;
}

@media screen and (min-device-width: 576px) and (max-device-width: 719px) {
  $width: 576px;
  $device-width: 100%;
  $form-half-device-width: 100%;
}

@media screen and (min-device-width: 720px) and (max-device-width: 960px) {
  $width: 720px;
  $device-width: 100%;
  $form-half-device-width: 50%;
}

@media screen and (min-device-width: 960px) and (max-device-width: 1139px) {
  $width: 960px;
  $device-width: device-width;
  $form-half-device-width: 45%;
}

@media screen and (min-device-width: 1140px) {
  $width: 1140px;
  $device-width: device-width;
  $form-half-device-width: 40%;
}


body {
  background-color: $bg-color-main;
  height: 100vh;
  min-width: $width;
}

/*Main container*/
.wrapper {
  position: relative;
  min-height: 99vh;//hot fix for hide scroll bar
}

.account-editor {
  width: $form-half-device-width;
  margin: auto;
}

.account-restore {
  width: $form-half-device-width;
  margin: auto;
}

/*
notification style
*/

.notification {
  width: 100%;
  margin: auto;
  text-align: center;

  .notice {
    background-color: rgba(242, 242, 242, 0.7);
  }

  .success {
    background-color: rgba(131, 255, 164, 0.7);
  }

  .danger {
    background-color: rgba(164, 41, 46, 0.7);
  }

  .alert {
    background-color: rgba(248, 171, 82, 0.7);
  }
}


/*
content style
*/

.content {
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;

  .center-horizontal ul {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%
  }
}

/*
footer style
*/

.footer {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/*PAGE NAV STYLE*/

.pagination {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}



.group-to-center {
  margin: 0 auto;
}

.group-to-center span {
  display: inline-block;
}

.dropdown-menu.show {
  width: 300px;
}

.dropdown-menu-sm {
  background-color: transparent;
  box-shadow: none;
}