// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories {
  max-width: 100%;

  .card {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden !important;

    a, p, h5, h6 {
      color: #F9F9F9 !important;
      text-decoration: none !important;
    }
  }

  a.picture {
    height: 40vh;
    width: 100%;
    display: block;
    background-size: cover;
  }

  .card-img-overlay {
    background-color: rgba(21, 21, 21, 0.8);
  }

  .card-wrapper {
    width: 100% !important;
    height: 100% !important;
  }


  .card :hover div {

    a {
      // darken
      -webkit-filter: brightness(70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      // scale
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    display: block !important;
  }

}

.categories-content {
  max-width: 95%;
}
.top-block div {
  display: inline-block;
}

.top-block {
  .manage {
    float: right;
    margin-right: 2%;
  }
}