// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
custom style for bootstrap cards
*/



.card {
  width: 100% !important;
  height: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden !important;

  a, p, h6 {
    color: #151515 !important;
    text-decoration: none !important;
  }
}

.card-header {
  margin: auto;
}

.card-body {
  overflow: hidden;

  p {
    margin: auto;
    text-overflow: ellipsis;
  }
  h4 {
    margin: auto;
    text-overflow: ellipsis;
  }
}

.card-footer {
  margin: auto;
}