/* fonts/roboto-100 - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 100;
  src: local('fonts/roboto Thin'), local('fonts/roboto-Thin'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-100italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 100;
  src: local('fonts/roboto Thin Italic'), local('fonts/roboto-ThinItalic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-300 - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 300;
  src: local('fonts/roboto Light'), local('fonts/roboto-Light'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-300italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 300;
  src: local('fonts/roboto Light Italic'), local('fonts/roboto-LightItalic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-regular - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 400;
  src: local('fonts/roboto'), local('fonts/roboto-Regular'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 400;
  src: local('fonts/roboto Italic'), local('fonts/roboto-Italic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-500 - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 500;
  src: local('fonts/roboto Medium'), local('fonts/roboto-Medium'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-500italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 500;
  src: local('fonts/roboto Medium Italic'), local('fonts/roboto-MediumItalic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-700 - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 700;
  src: local('fonts/roboto Bold'), local('fonts/roboto-Bold'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-700italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 700;
  src: local('fonts/roboto Bold Italic'), local('fonts/roboto-BoldItalic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-900 - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: normal;
  font-weight: 900;
  src: local('fonts/roboto Black'), local('fonts/roboto-Black'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fonts/roboto-900italic - cyrillic-ext_cyrillic_latin */
@font-face {
  font-family: 'fonts/roboto';
  font-style: italic;
  font-weight: 900;
  src: local('fonts/roboto Black Italic'), local('fonts/roboto-BlackItalic'),
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-url('fonts/roboto-v18-cyrillic-ext_cyrillic_latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}