// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images {
  max-width: 100%;

  .card {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden !important;

    a, p, h5, h6 {
      color: #F9F9F9 !important;
      text-decoration: none !important;
    }
  }

  a.picture {
    height: 40vh;
    width: 100%;
    display: block;
    background-size: cover;
  }

  .card-img-overlay {
    background-color: rgba(21, 21, 21, 0.8);
  }

  .card-wrapper {
    width: 100% !important;
    height: 100% !important;
  }


  .card :hover div {

    a {
      // darken
      -webkit-filter: brightness(70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      // scale
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    display: block !important;
  }
}

.images-show {
  max-width: 95vw;
  height: 100vh;
  margin: auto;

  a.picture  {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
  }

  .col-1, .col-2, .col-3, .col-4,
  .col-5, .col-6, .col-7, .col-8,
  .col-9, .col-10, .col-11, .col-12,
  .col, .col-auto, .col-sm-1, .col-sm-2,
  .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
  .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
  .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1,
  .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
  .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
  .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11,
  .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
  }

  .modal-dialog {
    height: 95vh !important;
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    .modal-content {
      height: 95%;
      width: 100%;

      .modal-body {
        height: 100%;
        width: 100%;

        .title h2 {
          position: absolute;
          color: #F5F5F5;
          background-color: rgba(21, 21, 21, 0.6);
          margin: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media screen and (max-width: 720px){
            width: 80%;
          }
        }
      }
    }
  }



.image-history-comments {
    position: relative;

    @media screen and (max-height: 719px) {
      height: 100%;
    }

    @media screen and (min-height: 720px) {
      height: 50vh;
    }
    overflow: auto;
  }

  .modal-dialog {
    max-width: 100%;
  }

  .card.mb-3 {
    height: 25vh !important;

    .card-body {
      word-wrap: break-word;
    }
  }

}


@media screen and (max-width: 720px){
  .footer{
    visibility: hidden !important;
  }
}
