// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bg-color-main: #F2F2F2;
$bg-color-secondary: #F9F9F9;
$bg-color-additional: #959595;
$text-color-main: #151515;
$text-color-secondary: #252525;
$text-color-additional: #454545;

.welcome {

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
  }

  .carousel-item {
    min-height: 300px;
    height: 90vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption h3,
  .carousel .icon-container,
  .carousel-caption button {
    background-color: $bg-color-secondary;
    opacity: 0.65;
  }

  .carousel-caption h3 {
    padding: .5em;
  }

  .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
  }

  .carousel-caption button {
    border-color: $text-color-main;
    margin-top: 1em;
  }

  .carousel-item.img {
    background-color: rgba(15,15,15,0.9);
  }

  /* Animation delays */
  .carousel-caption h3:first-child {
    animation-delay: 1s;
  }

  .carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
  }

  .carousel-caption button {
    animation-delay: 3s;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .p {
    padding-top: 125px;
    text-align: center;
  }

  .p a {
    text-decoration: underline;
  }
}