= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  = f.text_field :title, placeholder: t('categories.form.image_title'), class: 'form-control'
  %br
  .actions
    = f.submit t('categories.form.save'), class: 'btn btn-success'
