.categories
  .text-center
    %h2
      =t('categories.index.title')
  .container-fluid
    .row
      - @categories.each do |category|
        .card.col-sm-6.col-lg-4
          .card-wrapper
            .card-img
              %a.picture{href: category_path(category.slug), style: "background: url(#{category.images.last&.file_path&.url || asset_url('picture.png')}) center center no-repeat; background-size: cover;"}

              .card-img-overlay.d-block.d-lg-none.d-xl-none
                %h5.card-title
                  = link_to category.title, category
                %h6.card-subtitle{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Last time updated'}
                  ="#{category.images.last.created_at.strftime("%d/%m/%Y") unless category.images.last.nil?}"
                %p.card-text{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Owner of this category'}
                  = category.user.username
  .categories-footer
    .center-horizontal
      = paginate @categories