.categories
  .top-block.text-center
    .title
      %h2
        = @category.title
    .manage
      .subscribe-form#category-subscribe
        = render partial: 'subscribes/form', review: Subscribe.new(category_id: @category.id)
      -if current_user.id == @category.user_id
        = link_to t('categories.index.edit'), edit_category_path(@category.slug), class: 'btn btn-outline-warning'
        = link_to t('categories.index.destroy'), @category, method: :delete, data: { confirm: t('deleting.confirmation') }, class: 'btn btn-outline-danger'
  -if current_user.id == @category.user_id
    %br
    %br
  .container-fluid
    .row
      - @images.each do |image|
        .card.col-sm-6.col-lg-4
          .card-wrapper
            .card-img
              %a.picture{href: image_path(image.slug), style: "background: url(#{image.file_path.url(:large)}) center center no-repeat; background-size: cover;"}
              .card-img-overlay.d-block.d-lg-none.d-xl-none
                %h5.card-title.text-truncate
                  = link_to image.title, image
                %h6.card-subtitle{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Created'}
                  =image.created_at.strftime("%d/%m/%Y")
                %p.card-text{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Owner of this category'}
                  = image.user.username
  .categories-footer
    .center-horizontal
      = paginate @images