= form_for [Subscribe.new], remote: true do |f|
  .field
    = f.hidden_field :category_id, value: @category.id
    = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.button t('subscribes.subscribe'), class: 'btn btn-outline-dark fa fa-bell'