var subscribeBlock = document.getElementById("category-subscribe");
while (subscribeBlock.firstChild) {
    subscribeBlock.removeChild(subscribeBlock.firstChild);
}
$('.subscribe-form').prepend("<%= escape_javascript render 'subscribes/unsubscribe', review: Subscribe.new(user_id: current_user.id, category_id: @category.id) %>")