var subscribeBlock = document.getElementById("category-subscribe");
while (subscribeBlock.firstChild) {
    subscribeBlock.removeChild(subscribeBlock.firstChild);
}
$('.subscribe-form').prepend("<%= escape_javascript render partial: 'subscribes/subscribe' %>")