.images-form
  .container
    = form_for @image, html: { multipart: true } do |f|
      - if @image.errors.any?
        #error_explanation
          %h2= "#{pluralize(@image.errors.count, t('images.form.error'))} #{t('images.form.error_teaser')}:"
          %ul
            - @image.errors.full_messages.each do |message|
              %li= message
      = f.file_field t('images.form.filepath')
      = f.text_field :title, class: 'form-control', placeholder: t('images.form.title')
      .actions
        = f.submit t('images.form.save'), class: 'btn btn-success'
