.images
  .top-block.text-center
    .title
      %h2
        =t('images.index.title')
  .container-fluid
    .row
      - @images.each do |image|
        .card.col-sm-6.col-lg-4
          .card-wrapper
            .card-img
              %a.picture{href: image_path(image.slug), style: "background: url(#{image.file_path.url(:large)}) center center no-repeat; background-size: cover;"}
              .card-img-overlay.d-block.d-lg-none.d-xl-none
                %h5.card-title.text-truncate
                  = link_to image.title, image
                %h6.card-subtitle{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Created'}
                  =image.created_at.strftime("%d/%m/%Y")
                %p.card-text{'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Owner of this image'}
                  = image.user.username
  .images-footer
    .center-horizontal
      = paginate @images