.images
  .images-uploader
    .container
      = form_for @image, html: { multipart: true } do |f|
        .row
          .col-sm
            %h2
              =t('images.new.title')
        %br
        .row
          .col-sm
            .title-field
              = f.text_field :title, class: 'form-control', placeholder: t('images.new.title_placeholder')
        %br
        .row
          .col-sm
            %h5= f.label t('images.new.category_placeholder')
        %br
        .row
          .col-sm
            = f.collection_select :category_id, @categories,  :id, :title, include_blank: false, class: 'dropdown-menu'
        %br
        .row
          .col-sm
            %h5= f.label t('images.new.uploader_label')
        .row
          .col-sm
            .custom-file
              = f.file_field :file_path, class: 'form-control-file', type: :file, id: 'customFile'
              = f.label ' ', for: 'customFile', class: 'custom-file-label'
        %br
          .row
            .col-sm
              = f.submit t('images.new.save'), class: 'btn btn-success'