.images-show
  .row
    .d-block.d-lg-inline-block.d-xl-inline-block.image-content.modal-show.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xl-10
      .modal-dialog
        .modal-content
          .modal-body
            .title
              %a{href: @image.file_path.url}
                .text-truncate
                  %h2
                    =@image.title
            %a.picture{href: @image.file_path.url, target: '_blank', style: "background: url(#{@image.file_path.url}) center center no-repeat; background-size: cover;"}

    .d-block.d-lg-inline-block.d-xl-inline-block.comments.modal-show.col-xs-10.col-sm-10.col-md-10.col-lg-2.col-xl-2
      .modal-dialog
        .modal-content
          .modal-header
            .text-center
              .title
                %h3
                  =t('images.show.comments.title')
            .like-form#image-likes
              = render partial: 'likes/form', review: Like.new(image_id: @image.id, user_id: current_user.id, category_id: @image.category.id)
          .modal-body
            .image-comments#image-comments
              .row
                .col-sm.text-center
                  .image-add-comment
                    = render 'comments/form', review: Comment.new(image_id: @image.id, category_id: @image.category.id)
              .row
                .col-sm
                  %hr
                  .image-history-comments{'data-spy': 'scroll', 'data-offset': '0'}
                    - @comments.each do |comment|
                      = render 'comments/comment_card', comment: comment
              %hr
              .image-footer
                .text-center
                  = paginate @comments