%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  =link_to 'Gallery', root_path, class: 'navbar-brand'
  %button.navbar-toggler{'aria-controls': 'navbarTogglerDemo02', 'aria-expanded': 'false',
   'aria-label': 'Toggle navigation', 'data-target': '#navbarToggler',
    'data-toggle': 'collapse', type: 'button'}
    %span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse
    .navbar-nav.mr-auto.mt-2.mt-lg-0
    - if current_user
      %span.link.pointable{'data-target': '#creator', 'data-toggle': 'modal'}
        .nav-item
          %button.btn.btn-outline-success
            =t('header.creator')
      = render 'layouts/modal', { modal_id: 'creator', modal_title: t('header.creator') } do
        .modal-body
          .row
            .col-6
              .text-center
                = link_to t('header.category_create'), new_category_path,  class: 'btn btn-outline-success'
            .col-6
              .text-center
                = link_to t('header.image_upload'), new_image_path,  class: 'btn btn-outline-success'
      %span.link.pointable{'data-target': '#categories', 'data-toggle': 'modal'}
        .nav-item
          %button.btn.btn-outline-dark
            =t('header.categories')
      = render 'layouts/modal', { modal_id: 'categories', modal_title: t('header.categories_popular') } do
        .modal-body
          - @categories_header.each do |category|
            %hr
              %h3.text-center
                = link_to category.title, category
      .nav-item.dropdown
        = link_to t('header.pictures'), images_path, class: 'btn btn-outline-dark'
      .nav-item
        = link_to t('header.comments'), comments_path, class: 'btn btn-outline-dark'
      %span.link.pointable{'data-target': '#account', 'data-toggle': 'modal'}
        .nav-item
          %button.btn.btn-outline-danger
            =t('header.account')
      = render 'layouts/modal', { modal_id: 'account', modal_title: t('header.account') } do
        .modal-body
          .row
            .col-sm-12.col-md-6
              .text-center
                = link_to t('header.edit'), edit_user_registration_path, class: 'btn btn-outline-warning'
            .col-sm-12.col-md-6
              .text-center
                = link_to t('header.log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger'
    - else
      .entry.my-2.my-lg-0
        = link_to t('header.log_in'), new_user_session_path, class: 'btn btn-primary mr-sm-2'
        = link_to t('header.sign_up'), new_user_registration_path, class: 'btn btn-info my-2 mr-sm-2'
    %span.link.pointable{'data-target': '#editLanguage', 'data-toggle': 'modal'}
      .nav-item.my-2.my-sm-0
        %button.btn.btn-outline-light{style: "background: url(http://www.countryflags.io/#{@current_country}/shiny/32.png); background-repeat: no-repeat; margin: auto; background-size: auto; background-position: center; "}
    = render 'layouts/modal', { modal_id: 'editLanguage', modal_title: 'Edit Language' } do
      .modal-body
        - @available_languages.each_with_index do |lang_code, index|
          - unless lang_code.eql?(@current_language)
            =button_to '', language_path(lang_code: lang_code), method: :post, class: 'dropdown-item',
               style: "background: url(http://www.countryflags.io/#{@linked_countries[index]}/shiny/32.png); background-repeat: no-repeat; margin: auto; background-size: auto; background-position: center;"