.modal.fade{'aria-labelledby': 'myModalLabel', role: 'dialog', tabindex: '-1', id: modal_id}
  .modal-dialog{role: :document}
    .modal-content
      .modal-header
        %h5.modal-title= modal_title
        %button.close{'aria-label': 'Close', 'data-dismiss': :modal, type: 'button'}
          %span{'aria-hidden': true} ×

      = yield