.account-editor
  %ul#justifiedTab.nav.nav-justified.nav-tabs{role: 'tablist'}
    %li.nav-item
      %a#home-tab.nav-link.active{'aria-controls': 'informationChanger', 'aria-selected': 'true', 'data-toggle': 'tab', href: '#informationChanger', role: 'tab'}
        =t('users.registrations.edit.info_tab.title')
    %li.nav-item
      %a#profile-tab.nav-link{'aria-controls': 'accountRemover', 'aria-selected': 'false', 'data-toggle': 'tab', href: '#accountRemover', role: 'tab'}
        =t('users.registrations.edit.cancel_tab.title')
    %li.nav-item
      %a#linked-tab.nav-link{'aria-controls': 'linkedAccounts', 'aria-selected': 'false', 'data-toggle': 'tab', href: '#linkedAccounts', role: 'tab'}
        =t('users.registrations.edit.linked_tab.title')
  %br
  #justifiedTabContent.tab-content
    #informationChanger.tab-pane.fade.show.active{'aria-labelledby': 'home-tab', role: 'tabpanel'}
      %h3
        =t('users.registrations.edit.info_tab.edit')
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
          .field
            = f.label t('users.registrations.edit.info_tab.username')
            = f.text_field :username, class: 'form-control', placeholder: t('users.registrations.edit.info_tab.username')
          %br/
          .field
            = f.label t('users.registrations.edit.info_tab.email')
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', 'aria-describedby': 'emailHelp', placeholder: t('users.registrations.edit.info_tab.email')
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              ="#{t('users.registrations.edit.info_tab.currenty_waiting_email')} #{resource.unconfirmed_email}"
          %br/
          .field
            - unless current_user.autogenerated
              = f.label t('users.registrations.edit.info_tab.password_current')
              %i (#{t('users.registrations.edit.info_tab.we_need_cur_pass')})
              %br
              = f.password_field :current_password, autocomplete: 'off', class: 'form-control', type: :password,  placeholder: t('users.registrations.edit.info_tab.password_current')
            - if @minimum_password_length
              %em
                = @minimum_password_length
                =t('users.registrations.edit.info_tab.char_min')
          .field
            = f.label t('users.registrations.edit.info_tab.password')
            %i (#{t('users.registrations.edit.info_tab.leave_blank')})
            %br/
            = f.password_field :password, class: 'form-control', type: :password, autocomplete: 'off',  placeholder: t('users.registrations.edit.info_tab.password')
          .field
            = f.label t('users.registrations.edit.info_tab.password_confirmation')
            %br/
            = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', type: :password, placeholder: t('users.registrations.edit.info_tab.password_confirmation')
          %br
          .actions
            = f.submit t('users.registrations.edit.info_tab.update'), class: 'btn btn-success'

    #accountRemover.tab-pane.fade{'aria-labelledby': 'profile-tab', role: 'tabpanel'}
      %h3
        =t('users.registrations.edit.cancel_tab.title')
      %p
        #{t('users.registrations.edit.cancel_tab.unhappy')}?
      = button_to t('users.registrations.edit.cancel_tab.cancel_account'), registration_path(resource_name), data: { confirm: "#{t('users.registrations.edit.cancel_tab.are_u_sure')}"}, method: :delete, class: 'btn btn-danger'

    #linkedAccounts.tab-pane.fade{'aria-labelledby': 'profile-tab', role: 'tabpanel'}
      %h3
        =t('users.registrations.edit.linked_tab.title')
      .row
        -if @accounts
          .col-sm
            - @accounts.each do |account|
              = button_to "#{t('users.registrations.edit.linked_tab.unpair')} #{account.provider}", account_path(id: account.id), method: :delete, remote: true, class: 'btn btn-danger fa fa-heart'