.container
  .row.align-items-center
    .col
      .registration
        .form-group
          %h2
            =t('users.registrations.title')
          = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-group') do |f|
            = devise_error_messages!
            .field
              = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('users.registrations.email_placeholder'), hide_label: true
            .field
              = f.text_field :username, autocomplete: 'off', class: 'form-control', placeholder: t('users.registrations.username_placeholder'), hide_label: true
            .field
              = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('users.registrations.password_placeholder'), hide_label: true
            .field
              = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: t('users.registrations.password_confirmation_placeholder'), hide_label: true
            .actions
              = f.submit t('users.registrations.sign_up_submit'), class: 'btn btn-success'

          %br
          =render 'users/shared/social'